
.eventListH3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.eventCardP {
    margin-top: 2px;
    margin-bottom: 0px;
}

.eventCardH4 {
    margin-top: 20px;
    margin-bottom: 2px;
    color: rgb(0, 86, 180);
}

.eventListHeader {
    display: flex;
    justify-content: space-between;
}

.newEventButton {
    margin-top: 2px;
    margin-right: 2px;
}