.tasks{
    border: 1px solid black;
    margin: 5em;
    padding: 2em;
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.task__checkbox{
    display: flex;
    
}
.task{
    border: .5px dotted black;
    display: flex;
    flex-direction: row;
    padding: .5em;
    justify-content: space-between;
    flex-basis: 28%;
    align-items: baseline;
}
#taskComplete{
    width: 1.6em;
    margin-left: .3em;
    /* flex-direction: column; */
}
.tasks h3{
    text-align: center;
}