.modal--content {
    border-radius: 10px;
    background-color: rgb(255,255,255);
}

.predictedForecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherContent {
    background-color: rgb(194, 194, 240);
}