{
  "users": [
    {
      "email": "nickcarver@amail.com",
      "name": "Nick Carver",
      "id": 1
    }
  ],
  "articles": [
    {
    "id": 1,
    "userId": 1,
    "url": "https://www.quantamagazine.org/newfound-wormhole-allows-information-to-escape-black-holes-20171023/",
    "title": "Wormholes Allow Information to Escape Black Holes",
    "synopsis": "Check out this recent discovery about workholes",
    "timestamp": "2021-02-11T15:24"
  },
  {
    "id": 2,
    "userId": 2,
    "url": "https://www.quantamagazine.org/newfound-wormhole-allows-information-to-escape-black-holes-20171023/",
    "title": "Wormholes Allow Information to Escape Black Holes",
    "synopsis": "Check out this recent discovery about workholes",
    "timestamp": "2021-02-11T15:24"
  },
  {
    "id": 3,
    "userId": 1,
    "url": "https://www.quantamagazine.org/newfound-wormhole-allows-information-to-escape-black-holes-20171023/",
    "title": "Wormholes Allow Information to Escape Black Holes",
    "synopsis": "Check out this recent discovery about workholes",
    "timestamp": "2021-02-11T15:24"
  }
],
  "messages": [
    {
      "date": "2021-03-09T17:09:41.112Z",
      "text": "Caleb is the bomb",
      "id": 1
    },
    {
      "date": "2021-03-09T17:18:47.067Z",
      "text": "Caleb is the actual bomb",
      "id": 2
    }
  ],
  "events": [
    {
      "userId": 1,
      "name": "Nutshell End",
      "date": "2021-03-12T10:15",
      "location": "Nashville Software School",
      "id": 6
    },
    {
      "userId": 1,
      "name": "The Event List",
      "date": "2021-03-09T14:45",
      "location": "Nashville Software School",
      "id": 7
    },
    {
      "userId": 1,
      "name": "The Event List That Updates",
      "date": "2021-03-09T14:49",
      "location": "Nashville Software School",
      "id": 8
    },
    {
      "userId": 1,
      "name": "Hey Nick Look At Me",
      "date": "2021-03-09T14:56",
      "location": "Nashville Software School",
      "id": 9
    },
    {
      "userId": 1,
      "name": "Tuesdays Event",
      "date": "2021-03-09T15:00",
      "location": "Nashville Software School",
      "id": 10
    },
    {
      "userId": 1,
      "name": "asdfghjk",
      "date": "2021-03-09T15:02",
      "location": "asd",
      "id": 11
    },
    {
      "userId": 1,
      "name": "asdfghjkl",
      "date": "2021-03-09T15:07",
      "location": "asdfghjkl",
      "id": 12
    },
    {
      "userId": 1,
      "name": "NICKKKKK",
      "date": "2021-03-09T15:15",
      "location": "Nashville Software School",
      "id": 13
    },
    {
      "userId": 1,
      "name": "Nick Carver's Employee Name",
      "date": "2021-03-09T15:16",
      "location": "Nashville Software School",
      "id": 14
    },
    {
      "userId": 1,
      "name": "A brand new event",
      "date": "2021-03-08T15:41",
      "location": "Nashville Software School",
      "id": 15
    },
    {
      "userId": 1,
      "name": "The newest event",
      "date": "2021-03-07T15:44",
      "location": "Nashville Software School",
      "id": 16
    },
    {
      "userId": 1,
      "name": "the new",
      "date": "2021-03-05T15:50",
      "location": "Nashville Software School",
      "id": 17
    }
  ],
  "tasks": [
    {
      "id": 1,
      "userId": 1,
      "name": "Make a Sandwich",
      "completionDate": "2021-02-15T09:00",
      "isComplete": true
    },
    {
      "id": 2,
      "userId": 1,
      "name": "Clean the garage",
      "completionDate": "2021-03-15T09:00",
      "isComplete": true
    },
    {
      "id": 3,
      "userId": 1,
      "name": "Give dog a bath",
      "completionDate": "2021-03-15T09:00",
      "isComplete": true
    }
  ],
  "friends": [
    {
      "id": 1,
      "userId": 1,
      "currentUserId": 3
    }
  ]
}
