{
  "users": [
    {
      "email": "nickcarver@amail.com",
      "name": "Nick Carver",
      "id": 1
    }
  ],
  "articles": [
    {
    "id": 1,
    "userId": 1,
    "url": "https://www.quantamagazine.org/newfound-wormhole-allows-information-to-escape-black-holes-20171023/",
    "title": "Wormholes Allow Information to Escape Black Holes",
    "synopsis": "Check out this recent discovery about workholes",
    "timestamp": "2021-02-11T15:24"
  },
  {
    "id": 2,
    "userId": 2,
    "url": "https://www.quantamagazine.org/newfound-wormhole-allows-information-to-escape-black-holes-20171023/",
    "title": "Wormholes Allow Information to Escape Black Holes",
    "synopsis": "Check out this recent discovery about workholes",
    "timestamp": "2021-02-11T15:24"
  },
  {
    "id": 3,
    "userId": 1,
    "url": "https://www.quantamagazine.org/newfound-wormhole-allows-information-to-escape-black-holes-20171023/",
    "title": "Wormholes Allow Information to Escape Black Holes",
    "synopsis": "Check out this recent discovery about workholes",
    "timestamp": "2021-02-11T15:24"
  }
],
  "messages": [
    {
      "date": "2021-03-09T17:09:41.112Z",
      "text": "Caleb is the bomb",
      "id": 1
    },
    {
      "date": "2021-03-09T17:18:47.067Z",
      "text": "Caleb is the actual bomb",
      "id": 2
    }
  ],
  "events": [
    {
      "id": 1,
      "userId": 1,
      "name": "Jisie Leaving NSS",
      "date": "2021-04-01T11:00",
      "city": "chicago",
      "state": "il",
      "venue": "Another Employer"
    }
  ],
  "tasks": [
    {
      "id": 1,
      "userId": 1,
      "name": "Make a Sandwich",
      "completionDate": "2021-02-15T09:00",
      "isComplete": true
    },
    {
      "id": 2,
      "userId": 1,
      "name": "Clean the garage",
      "completionDate": "2021-03-15T09:00",
      "isComplete": true
    },
    {
      "id": 3,
      "userId": 1,
      "name": "Give dog a bath",
      "completionDate": "2021-03-15T09:00",
      "isComplete": true
    }
  ],
  "friends": [
    {
      "id": 1,
      "userId": 1,
      "currentUserId": 3
    }
  ]
}